/* 
th,td{
    border: 1px solid black;
    padding: 10px;
}
table{
    border-collapse:collapse ;
    margin: 50px auto;
    width: 60%;
    text-align: center;
    margin-top: 100px;
  }
  thead{
    background-color: lightblue;
  }
  .pagination{
    list-style: none;
    display: flex;
  
    justify-content: center;
  }
  .page-link1{
    margin: 2px;
    background-color: rgb(162, 180, 198);
  }
  .edit-btn{
    background-color: rgb(172, 223, 223);
    margin: 3px;
  }
  .delete-btn{
    background-color: rgb(211, 61, 61);
    margin: 3px;
  }
  .add-btn{
    background-color: rgb(109, 224, 109);
    
  }
  #add-form{
    display: flex;
    justify-content: center;
   align-items: center;
margin-top: 100px;


  } */
  th,td{
    border: 1px solid black;
  }
  table{
    border-collapse:collapse;
    margin: 5px auto;
    width: 50%;
    text-align: center;
    /* margin-top: 100px; */
    font-size: 15px;
  
  }
  thead{
    background-color: lightblue;
  }
  .pagination{
    list-style: none;
    text-align: center;
    margin: 0 3px;
  }
 
  .delete-btn{
    background-color: rgb(238, 61, 61);
    margin: 2px;
  }
  .edit-btn{
    background-color: rgb(171, 214, 199);
    margin: 2px;
  }
  .page-link1{
    background-color:lightgray;
    margin: 2px;
  }
  #form{
    text-align: center;
    margin:  auto;
    margin-top: 50px;
    margin-bottom: 0;
    width: 60%;

  }